.estudiante-form {
  max-width: 400px;

  input {
    width: 100%;
  }

  button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 50%;
  }
}
