.estudiante-form {
  max-width: 400px;

  input {
    width: 100%;
  }

  button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 50%;
  }
}

:host {
  display: block;        /* Asegura que el host sea un bloque */
  overflow-y: hidden;    /* Oculta el scroll vertical */
  height: 100vh;         /* Altura de toda la pantalla */
}

