.profesor-form {
  max-width: 400px;

  input {
    width: 100%;
  }

  button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 50%;
  }
}

:host {
  display: block;
  overflow-y: hidden;
  height: 100vh;
}

.btnCabecera {
    width: 40px;
    height: 40px;
    display: flex;       
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: rgb(14, 13, 13);
    background-color: rgba(0, 123, 255, 0.1);
    padding: 0.3rem;
    border-radius: 0.25rem;
    font-weight: bold;
    text-align: center;
}

.btnCabeceraV2{
    width: 40px;
    height: 40px;
    display: flex;       
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: rgb(14, 13, 13);
    background-color:rgba(200, 200, 200, 0.3);
    padding: 0.3rem;
    border-radius: 0.25rem;
    font-weight: bold;
    text-align: center;
}


.tablaProfesor th {
    text-align: center;
    vertical-align: middle;
}


.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tablaProfesor {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  color: black;
  backdrop-filter: blur(5px);
}

.tablaProfesor th,
.tablaProfesor td {
  border: none;
  padding: 8px 12px;
  text-align: center; 
}


.tablaProfesor tbody tr {
  border-bottom: 1px solid rgba(0, 123, 255, 0.5);
}


.tablaProfesor tbody tr:last-child {
  border-bottom: none;
}


.tablaProfesor tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.1); 
}

.nombresTabla{
  position: relative;
}

.nombresTabla span{
  position: absolute;
  right: 0;
}

.tablaProfesor td.nombresTabla {
    text-align: left; /* todos los nombres alineados a la izquierda */
    padding-left: 250px; /* aquí defines la posición inicial exacta */
    position: relative; /* si luego quieres algún elemento absoluto dentro */
}

.tablaProfesor td.nombresTabla span {
    position: static; /* quitas el absolute para que respete el padding */
}

