.card {
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  border: none;
  background-color: #fff;
}


.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


:host {
  display: block;
  overflow-y: hidden;
  height: 100vh;
}
